@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container {
    overflow-y: auto;
    height: 20rem;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* Adjust color if needed */
  }
  
  .scroll-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
  }
  @media only screen and (max-width: 425px) {
.scroll-container {
      height: 25rem;
    }
  }